@model Cliente

<tr>
    <td>@Model.NmCliente</td>
    <td>@Model.Cidade</td>
    <td>
        <span>
            <button class="btn btn-warning" type="button" onclick="GetClienteByIdAsync(@Model.IdCliente)">
                <img src="~/images/pencil_icon.png" height="20px">
            </button> |
        </span>
        <button class="btn btn-danger" onclick="RemoverClienteAsync(confirmDelete(true, false), @Model.IdCliente)">
            <img src="~/images/delete_ic_icon.png" height="20px">
        </button>
    </td>
</tr>