@model ClienteProdutoViewModel

@{
    var listModel = Model.clientes.Any();
}

<select id="" class="form-select produto" aria-label="Selecione">
    <option value="" selected>Selecione</option>
    <option value="0">Zero</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>