@model string

@{
    var nomeMetodoJs = string.Concat("retornarConsulta", Model, "()");
}

<button class="btn btn-primary mt-2 d-inline" data-bs-toggle="collapse" href="#collapse-@Model" aria-expanded="false" aria-controls="collapse-@Model">
    Pesquisar
</button>
<div class="collapse mt-2" id="collapse-@Model">
    <div class="card card-body">        
        <a href="#" onclick="@nomeMetodoJs">Campo</a>
    </div>
</div>