@model Produto

<tr>
    <td>@Model.DscProduto</td>
    <td>@Model.VlrUnitario.ToString("c")</td>
    <td>
        <span>
            <button class="btn btn-warning" type="button" href="#">
                <img src="~/images/pencil_icon.png" height="20px">
            </button> |
        </span>
        <button class="btn btn-danger" href="#" onclick="confirmDelete(false, true)">
            <img src="~/images/delete_ic_icon.png" height="20px">
        </button>
    </td>
</tr>