<div class="modal fade" id="crudModalClient" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crudModalClientlLabel">Inserir Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control d-none inputId">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default inputTextNome">Nome</span>
                    <input type="text" class="form-control inputTextNome" required>
                </div>
                <p class="text-danger erroInputNome d-none"></p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default inputTextCidade">Cidade</span>
                    <input type="text" class="form-control inputTextCidade" required>
                </div>
                <p class="text-danger erroInputCidade d-none"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="fecharModalCliente" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" id="inserirCliente" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>