@model List<Cliente>


@foreach (Cliente cliente in Model)
{   
    <tr>       
        <td>@cliente.NmCliente</td>
        <td>@cliente.Cidade</td>
        <td>
            <a href="@cliente.IdCliente"><img class="icon-prop" src="~/images/pencil_icon.png" /></a> |
            <a href="@cliente.IdCliente"><img class="icon-prop" src="~/images/delete_ic_icon.png" /></a>
        </td>
    </tr>
}    